<div class="maincontainer d-none d-lg-block">
    <div class="mainnav">
        <div class="mainnav__title" >
            APOCALYPSE CITY
        </div>
        <div class="mainnav__infotitle" >
            <div class="mainnav__infotitle d-none d-lg-block" >
                <div class="mainnav__infotitle__leftdata" >
                </div>
                <div class="mainnav__infotitle__rightdata" >
                    <div class="mainnav__infotitle__rightdata__score" >SCORE</div>
                    <div class="mainnav__infotitle__rightdata__time" >TIME</div>
                    <div class="mainnav__infotitle__rightdata__gender" >GENDER</div>
                    <div class="mainnav__infotitle__rightdata__age" >AGE</div>
                    <div class="mainnav__infotitle__rightdata__bib" >BIB</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainnav mainnav--small d-lg-none">
    <div class="mainnav__title mainnav__title--small" >
        APOCALYPSE CITY
    </div>
</div>

